@{
    ViewBag.Title = "Contact";
}

<body>
    <ul class="lglist">
        <li class="lglist-item">
            <div class="mock-box"></div>
            <a class="lglist-item-content">
                <h2>
                    Maryville, Mo 64468
                    <br/>
                    816-787-4041
                </h2>
                <h3>
                    <strong>Email:</strong>   <a href="mailto:nickallee8529@gmail.com">nickallee8529@gmail.com</a>
                </h3>
            </a>
        </li>
    </ul>
</body>
