@{
    ViewBag.Title = "Education";
}
<body>
    <ul class="lglist">
        <li class="lglist-item">
            <div class="mock-box"><img src="~/files/spoofhound.png" width="100" style="object-fit:cover," /></div>
            <a href="http://www.mhs.maryville.k12.mo.us/" class="lglist-item-content">
                <h2> Highschool</h2>
                <p>box here with my highschool information</p>
            </a>
        </li>
        <li class="lglist-item">
            <div class="mock-box"><img src="~/files/bearcat.jpg" width="100" style="object-fit:cover,"/></div>
            <a href="https://www.nwmissouri.edu/" class="lglist-item-content">
                <h2>College</h2>
                <p>box here with my college information</p>
            </a>
        </li>
    </ul>
</body>

