@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Nick Allee</h1>
    <img src="~/files/nickPhoto.png" />
    <p class="lead">A 4th Year Computer Science and Cyber-Security Major with an aptitude for learning new things. I am an avid programmer with an interest in data science and finance. I have great work experience from the food service industry to teaching computer classes. I Graduate May 9 and am ready to find my first fulltime job in the Computer Science Industry. </p>
    <p><a href="~/files/nickalleeresume2_15_2020.docx" class="btn btn-primary btn-lg">Download my resume here &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>something here</h2>
        <p>
            what to put here
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
</div>