
@{
    ViewBag.Title = "Projects";
}
    <body>
        <ul class="lglist">
            <li class="lglist-item">
                <div class="mock-box"></div>
                <a class="lglist-item-content">
                    <h2> Featured Projects</h2>
                    <p>box here with 3 projects in it split horizantally</p>
                </a>
            </li>
            <li class="lglist-item">
                <div class="mock-box"><img src="~/files/pythonLogo.png" width="100" /></div>
                <a class="lglist-item-content">
                    <h2>Python Projects</h2>
                    <p>box here with a link to the python projects page</p>
                </a>
            </li>
            <li class="lglist-item">
                <div class="mock-box"><img src="~/files/cSharp.png" width="100" /></div>
                <a class="lglist-item-content">
                    <h2>C# Projects</h2>
                    <p>box here with a link to the C# projects page</p>
                </a>
            </li>
            <li class="lglist-item">
                <div class="mock-box"><img src="~/files/presentation.png" width="100" /></div>
                <a class="lglist-item-content">
                    <h2>papers and presentations</h2>
                    <p>box here with a link to the papersPresentations page</p>
                </a>
            </li>
            <li class="lglist-item">
                <div class="mock-box"><img src="~/files/github.jpg" width="100" /></div>
                <a class="lglist-item-content">
                    <h2>all Github Projects</h2>
                    <p>box here with a link to the github portfolio page and photo of github</p>
                </a>
            </li>
        </ul>
    </body>

