
@{
    ViewBag.Title = "References";
}
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <ul class="lglist">
            <li class="lglist-item">
                <div class="mock-box"></div>
                <a href="https://www.nwmissouri.edu/csis/directory/hoot.htm" class="lglist-item-content">
                    <h2> Machine Learning Supervisor</h2>
                    <p>box here with dr.hoots information</p>
                </a>
            </li>

            <li class="lglist-item">
                <div class="mock-box"></div>
                <a href="https://www.nwmissouri.edu/csis/directory/eloe.htm" class="lglist-item-content">
                    <h2>Data Structures Supervisor</h2>
                    <p>box here with dr eloes information</p>
                </a>
            </li>


            <li class="lglist-item">
                <div class="mock-box"></div>
                <a href="http://www.nts.maryville.k12.mo.us/directory.html" class="lglist-item-content">
                    <h2>Northwest Technical School Supervisor</h2>
                    <p>box here with lori tallys information</p>
                </a>
            </li>
        </ul>
    </body>
