
@{
    ViewBag.Title = "Skills and Activities";
}
    <p>
        •	Python, C, Java, Bash, Solidity, Linux command line,
        C#, OSForensics, WinHex, Git source control, and
        Wireshark
        •	TestOut Ethical Hacking Certification (In Progress)
        •	TestOut PC Pro Certification (Completed May 2016)
        •	Cyber Defense Club
        •	National Honor Society for the
        Computing Disciplines
        •	Association of Computing Machinery
    </p>

