
@{
    ViewBag.Title = "Work History";
}

<div class="jumbotron">
    <h1>Work History</h1>
</div>
<hr width="100%" size=1>
<div>
    <h2>Teaching Assistant</h2>
    <ul>
        <li>Computer Science Department Northwest Missouri State University Maryville MO</li>
        <li>January 2017 – Present</li>
        <li>Programming 1, Scientific Computing, Data Structures, and Machine Learning (Graduate Level)</li>
        <li>Grade papers, quizzes, and tests</li>
        <li>Assist students with coursework</li>
        <li>Conduct study sessions to increase core competencies</li>
        <li>Assist the instructor with his lectures by coding on the overhead screen and managing PowerPoints</li>
        <li>Create programming projects</li>
    </ul>
</div>
<hr width="100%" size=1>
<div>
    <h2>Technical School Computer Teacher</h2>
    <ul>
        <li>Northwest Technical School Maryville, MO</li>
        <li>January 2019 - Present</li>
        <li>Conduct instructional classes regarding basic technology skills</li>
        <li>Educate students in fundamentals of using windows, browsers, and basic settings</li>
        <li>Improve competencies in basic computer security and best secure practices for browsing the web</li>
    </ul>
</div>
<hr width="100%" size=1>
<div>
    <h2>Factory Machine Operator</h2>
    <ul>
        <li>Kawasaki Motors Maryville, MO</li>
        <li>May 2019 - July 2019</li>
        <li>Operate heavy machinery to develop cylinder heads for lawn mower engines</li>
    </ul>
</div>
<hr width="100%" size=1>
<div>
    <h2>Fully Trained Pizza Worker</h2>
    <ul>
        <li>Pagliai’s Pizza	 Maryville, MO</li>
        <li>February 2014 - February 2019</li>
        <li>Craft custom food and manage point of sale transactions</li>
        <li>Manage six to eight employees cleaning and closing of the restaurant</li>
        <li>Train new employees on proper working techniques</li>
        <li>Ensure delivery of food to customers both inside and out of town with company car</li>
    </ul>
</div>